/* opciones de texto */
.textoJustificado{
    text-align: justify;
    color: #999;
}

/* opciones de botones */
.btnSlim{
    padding: 4px;
    background-color: transparent;
    border: 1px solid;
    border-color: #666;

}
.btnSlim:hover{
    background-color: #666;
    transition: 1s;
    color: #fff;
}